.pane { -fx-background-color : #009a00 ; }
.input_field{ -fx-background-color : #004d00; -fx-text-fill: white; -fx-opacity: 1;-fx-border-color: white ;  -fx-border-width: 1px ;  }
.input_field_red{ -fx-background-color : #ff0000; -fx-opacity: 0.7; }
.input_field_green{ -fx-background-color : #009a00 ; }
.button{ -fx-background-color: #198c19;  -fx-background-radius: 15px; -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0); -fx-cursor: hand; -fx-text-fill: white;}
.initial_button{-fx-background-color: #009a00;}
.leave_button{-fx-background-color: #ff0000 ;}
.triangle_button1{-fx-shape :"M 600 450 L 350 300 L 600 150 Z";}
.triangle_button2{-fx-shape :"M 350 450 L 600 350 L 350 250 Z";}
.field1{-fx-background-color: #009a00 ; -fx-text-fill: black ; -fx-background-radius: 15px;}
.field2{-fx-background-color: #bf9b30 ; -fx-text-fill: black ; -fx-background-radius: 15px;}
.field3{ -fx-background-color: #334afe ;-fx-text-fill: black ; -fx-background-radius: 15px;}
.text-area .content { -fx-background-color: #009a00 ; -fx-opacity : 0.9 ; }
.color1{ -fx-background-color: #0000ff ;  -fx-text-fill: black ;-fx-background-radius: 15px;}
.color2{ -fx-background-color: #000066 ; -fx-text-fill: black ;-fx-background-radius: 15px;}
.color3{ -fx-background-color: #9999ff ; -fx-text-fill: black ;-fx-background-radius: 15px;}
.color4{ -fx-background-color: #ffa500 ; -fx-text-fill: black ;-fx-background-radius: 15px;}
.color5{ -fx-background-color: #ffd27f ; -fx-text-fill: black ;-fx-background-radius: 15px;}
.color6{ -fx-background-color: #ffff66 ; -fx-text-fill: black ;-fx-background-radius: 15px;}
.text-area {-fx-text-fill: white ; }
.text-area *.text {-fx-text-alignment: center;}
.history_pane{ -fx-background-color : #c5fb9c ; }